[submodule "chapter_2"]
	path = chapter_2
	url = git@github.com:f-teruhisa/perfect_ruby_on_rails.git
[submodule "chapter_3/rails_test_sample"]
	path = chapter_3/rails_test_sample
	url = git@github.com:f-teruhisa/perfect_ruby_on_rails.git
[submodule "chapter3/chapter3"]
	path = chapter3/chapter3
	url = git@github.com:f-teruhisa/perfect_ruby_on_rails.git
[submodule "chapter4/chapter4/sprockets-sample"]
	path = chapter4/chapter4/sprockets-sample
	url = git@github.com:f-teruhisa/perfect_ruby_on_rails.git
[submodule "chapter4/chapter4/built_in_sample"]
	path = chapter4/chapter4/built_in_sample
	url = git@github.com:f-teruhisa/perfect_ruby_on_rails.git
[submodule "chapter5/portraits_uploader"]
	path = chapter5/portraits_uploader
	url = git@github.com:f-teruhisa/perfect_ruby_on_rails.git
